@model IEnumerable<OdeToFood.Data.Models.Restaurant>

<div class="jumbotron">
    <h1></h1>
    <div>There are @Model.Count() restaurants in the db.</div>
    hello world
    @foreach (var resto in Model)
    {
        <li>@resto.Name</li>
    }
</div>
